:root{
    --background-color-primary: red;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: blue;
    width: 200px;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}